/* fonts */
@font-face {
  font-family: 'Libre Franklin';
  src: url('../../Fonts/librefranklin/LibreFranklin-Bold.eot');
  src: url('../../Fonts/librefranklin/LibreFranklin-Bold.eot?#iefix') format('embedded-opentype'), url('../../Fonts/librefranklin/LibreFranklin-Bold.woff2') format('woff2'), url('../../Fonts/librefranklin/LibreFranklin-Bold.woff') format('woff'), url('../../Fonts/librefranklin/LibreFranklin-Bold.ttf') format('truetype'), url('../../Fonts/librefranklin/LibreFranklin-Bold.svg#LibreFranklin-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Libre Franklin';
  src: url('../../Fonts/librefranklin/LibreFranklin-Regular.eot');
  src: url('../../Fonts/librefranklin/LibreFranklin-Regular.eot?#iefix') format('embedded-opentype'), url('../../Fonts/librefranklin/LibreFranklin-Regular.woff2') format('woff2'), url('../../Fonts/librefranklin/LibreFranklin-Regular.woff') format('woff'), url('../../Fonts/librefranklin/LibreFranklin-Regular.ttf') format('truetype'), url('../../Fonts/librefranklin/LibreFranklin-Regular.svg#LibreFranklin-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* main */
body,
html {
  font-size: 14px;
  color: #333333;
  font-family: "Libre Franklin", "Helvetica", "Arial", sans-serif;
  background: #f9f9f9;
}
#main_toolbar {
  background: #ffffff;
  color: #333333;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  margin: 0;
}
#main_toolbar .fa-2x {
  font-size: 1.5em;
}
#main_toolbar .navbar-brand {
  padding: 15px;
  height: auto;
  color: #333333;
}
#main_toolbar .navbar-brand h1 {
  font-size: 1.6rem;
  margin: 0;
  line-height: 0.7em;
}
#main_toolbar .navbar-brand h1 small {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #333333;
}
#main_toolbar .navbar-brand h1 img {
  margin-right: 10px;
}
#main_toolbar .navbar-nav > li > a {
  color: #333333;
  padding: 8px;
  border: 1px solid transparent;
}
#main_toolbar .navbar-nav > li > .dropdown-menu {
  border-radius: 0;
}
#main_toolbar .navbar-nav > .open > a,
#main_toolbar .navbar-nav > .active > a {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 980;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: none;
}
#main_toolbar .dropdown-menu {
  margin-top: -2px;
}
#main_toolbar .dropdown-menu .divider {
  margin: 5px 0;
}
#main_toolbar .dropdown-menu > li > a {
  padding: 10px 20px;
  white-space: normal;
}
#main_toolbar .nav > li > a:focus,
#main_toolbar .nav > li > a:hover {
  color: #5c9bb7;
}
#main_toolbar .navbar-collapse {
  padding-top: 1rem;
}
#main_toolbar .media {
  margin: 0;
}
#main_menu {
  z-index: 20;
  margin-bottom: 0;
  min-height: 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  background: #035e85;
  color: #ffffff;
  -webkit-box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.3);
}
#main_menu .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
}
#main_menu .navbar-nav > li.open > a {
  background: #5c9bb7;
  color: #ffffff;
}
#search_form {
  margin: 0;
}
#search_form .form-control {
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search_form .btn-default {
  border: 1px solid #e0e0e0;
  background: #f9f9f9;
}
.page-editor {
  display: flex;
}
#sidebar_toolbar {
  padding: 10px 0;
  border-bottom: 1px solid #dcdcdc;
}
#sidebar_toolbar .btn-backend {
  padding: 4px 26px 4px 6px;
}
#sidebar_tree {
  background: white;
  border-right: 1px solid #dcdcdc;
}
#sidebar_tree .tree {
  border: none;
  padding: 0;
}
#cms_tree {
  overflow-y: auto;
  padding: 10px 0;
}
#sidebar .list-group {
  font-size: 1.2em;
}
.tree-filter {
  padding-top: 10px;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
  background: #F8F8F8;
}
.entire-area {
  width: 100%;
}
#content {
  padding-top: 15px;
}
li a.helper-icon {
  float: left;
}
.page-panel {
  margin-top: 10px;
  background: #f3ffbd;
  border: 1px solid #deeaa8;
}
.page-panel > .panel-heading {
  background: #deeaa8;
}
.panel-media {
  margin-top: 20px;
}
.panel-media h2.title {
  margin: 0 20px 0 0;
}
.panel-media .thumbnail {
  text-align: center;
  position: relative;
  background: #f5f5f5;
  border-radius: 0;
  padding: 9px;
  min-height: 170px;
  overflow: hidden;
}
.panel-media .thumbnail.filetype-JPG,
.panel-media .thumbnail.filetype-GIF,
.panel-media .thumbnail.filetype-PNG {
  padding: 0;
}
.panel-media .thumbnail > img,
.panel-media .thumbnail a > img {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
}
.panel-media .thumbnail .caption {
  padding: 2%;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: #111111;
  color: white;
}
.panel-media .thumbnail p {
  margin: 0;
}
.panel-media .thumbnail .extension {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #111;
  padding: 5px;
  color: white;
  z-index: 100;
}
.folders-list {
  margin-top: 10px;
}
.folders-list .list-group-item {
  border-radius: 0;
}
.content-type-reference {
  opacity: 0.9;
  background-color: gray;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.5) 35px, rgba(255, 255, 255, 0.5) 70px);
  padding: 5px 10px;
}
.reference-title {
  padding: 0 3px;
  color: white;
  background: black;
}
.login-columns {
  padding: 10px;
  box-shadow: 0 0 10px black;
  background: white;
}
.login-page {
  background: #ffffff;
}
/* create new element wizard */
.tab-elements .media-object {
  float: left;
  margin-right: 10px;
  border: 1px solid #111111;
}
.tab-elements a {
  color: inherit;
  overflow: hidden;
}
.tab-elements p {
  font-size: 12px;
  line-height: 1.2em;
  margin-bottom: 5px;
}
.tab-elements p.title {
  font-weight: bold;
  font-size: 14px;
}
/* overwrite general styles */
.btn-danger {
  background: #eb547c;
  border-color: #cf4368;
}
.btn-success {
  background: #70c1b3;
  border-color: #5eab9e;
}
.btn-primary {
  background: #045e85;
  border-color: #055a7f;
}
.btn-warning {
  background: #f3ffbd;
  border-color: #deeaa8;
  color: #555c35;
  text-shadow: none;
}
.media {
  overflow: inherit;
}
.navbar-toggle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.form-control,
.input-group-addon {
  border-radius: 0;
}
.dropdown-menu {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.panel {
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.panel .panel-heading {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  line-height: 2rem;
  vertical-align: middle;
  border-bottom: 1px solid #F2F2F2;
  background: #f9f9f9;
}
.panel .panel-body {
  padding: 10px;
  position: relative;
}
.panel-cms .panel-heading {
  background: #ffffff;
  color: white;
}
.panel-heading {
  padding: 10px;
  border-radius: 0;
}
.panel-backend-content {
  background: rgba(220, 220, 220, 0.3);
  border-top: 1px solid #ddd;
  margin: 10px 0;
}
.panel-backend-content.panel-hidden .panel-heading {
  background: #f3ffbd;
}
.panel-backend-content.panel-hidden .panel-body {
  opacity: 0.5;
}
.panel-backend-content > .panel-heading {
  cursor: move;
}
.breadcrumb-page-tree {
  font-size: 12px;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 0;
}
.btn,
.dropdown-menu {
  border-radius: 0;
  margin: 0;
}
.btn-backend,
.btn-backend.focus,
.btn-backend:focus,
.btn-backend:hover {
  background-color: #ffffff;
  color: white;
}
.btn-sm,
.btn-group-sm > .btn {
  border-radius: 0;
}
.img-centered {
  margin: 0 auto;
}
.navbar-nav > li > a,
.navbar-brand {
  text-shadow: none;
}
.form-control {
  height: auto;
}
/* dashboard */
.panel-dashboard .panel-heading {
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  line-height: 2rem;
  vertical-align: middle;
}
.panel-dashboard .media {
  padding: 10px 0;
  margin: 0;
  border-top: 1px solid #E0E0E0;
}
.list-element {
  padding: 5px;
  margin-bottom: 1px;
}
.list-element:after {
  content: '';
  clear: both;
  display: block;
}
.dashboard-domains .flag-icon {
  font-size: 2em;
}
/* drag and drop */
.content-drag-receiver {
  height: 15px;
  padding: 0;
  font-size: 10px;
  margin: 0;
  background: transparent;
  line-height: 15px;
}
.content-drag-receiver.receiver-on {
  color: white;
  border: 1px dotted #333;
  text-align: center;
}
.content-drag-receiver.receiver-on.pep-dpa {
  background: green;
}
.content-drag-receiver.receiver-on:after {
  content: "drop here";
}
.content-drag-receiver.loader:after {
  background: url(../../Images/spin.svg) center center no-repeat;
  background-size: 15px 15px;
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
}
.content-drag-sender.pep-active {
  position: absolute;
  z-index: 9999;
  width: 250px;
  border: 2px dashed black;
}
.content-drag-sender.pep-active .panel-body,
.content-drag-sender.pep-active .panel-heading .btn-group {
  display: none;
}
/* fontawesome */
.fa-disabled {
  color: #dcdcdc;
}
.fa-alerted {
  position: relative;
}
.fa-alerted:after {
  position: absolute;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid #f9f9f9;
  top: 0;
  right: 0;
  content: '';
  width: 12px;
  height: 12px;
  background: #eb547c;
}
/* flash messages */
.alert {
  border-radius: 0;
}
.flash-error {
  background: #b92c28;
  color: white;
}
.flash-success {
  background: seagreen;
  color: white;
}
.flash-warning {
  background: darkorange;
  color: #333;
}
.flash-info {
  background: dodgerblue;
  color: #231f20;
}
/* content editing/wizard */
.form-content {
  margin: 10px 0;
}
.form-control.rte {
  height: auto;
}
.ajax-text {
  display: inline-block;
}
.wysihtml5-command-active,
.wysihtml5-action-active,
.wysihtml5-source-view {
  box-shadow: 0 0 4px gray inset;
  background: #dcdcdc;
}
/** CSS actions loader **/
.progress-loader {
  display: none;
}
/** settings **/
#settings_sidebar {
  background: #035e85;
  color: #ffffff;
  padding-top: 20px;
}
#settings_sidebar .list-group {
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#settings_sidebar .list-group-item {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: none;
  border: none;
  color: #ffffff;
  border-left: 2px solid #ffffff;
}
#settings_sidebar .list-group-item.collapsed {
  color: #5c9bb7;
  border-left: none;
}
#settings_sidebar .list-group-item.collapsed .list-group-item-heading {
  color: #5c9bb7;
}
#settings_sidebar .list-group-item .list-group-item-heading {
  color: #ffffff;
}
#settings_sidebar .list-group-item:focus,
#settings_sidebar .list-group-item:hover {
  background: #045a7f;
}
#settings_sidebar #settings_menu {
  margin: 20px 0;
}
#settings_sidebar #settings_menu .list-group .list-group-item {
  padding-left: 30px;
}
.settings-content {
  margin-top: 1em;
}
ul.list-readable {
  margin: 0;
  padding: 10px 10px 0 10px;
  list-style: none;
}
ul.list-readable li {
  margin: 0 0 10px 0;
}
/** widget grid **/
.quick-panel {
  margin: 15px 0;
}
.panel-grid .panel-body {
  margin: 0;
  padding: 0;
}
.grid .pagination {
  margin: 0;
}
.grid .grid-panel {
  background: #f9f9f9;
  padding: 10px 0;
  margin: 10px 0;
}
.grid .grid-row {
  padding: 10px;
  margin: -1px 0 0 0;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}
.grid .grid-even {
  background: #f9f9f9;
}
.grid .grid-paginator {
  margin: 10px 0;
}
/** jstree overwrites **/
.jstree-default a.jstree-clicked:link,
.jstree-default a.jstree-clicked:visited,
.jstree-default a.jstree-clicked:hover,
.jstree-default a.jstree-clicked:active {
  color: white !important;
  background: #045e85;
}
.jstree-default a.jstree-hovered {
  color: white;
}
.jstree-default .jstree-wholerow-hovered {
  background: rgba(4, 94, 133, 0.8);
}
.jstree-default .jstree-wholerow-clicked {
  background: #045e85;
}
.jstree-default a.jstree-search {
  color: #eb547c;
  font-style: normal;
  font-weight: bold;
}
@media (min-width: 768px) {
  .large-dialog .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 768px) {
  #main_toolbar .dropdown-menu > li > a {
    white-space: nowrap;
  }
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    background: #ffffff;
  }
}
