body, html {
	font-size: 14px;
	font-family: 'Roboto Condensed', sans-serif;
}

#main_toolbar {
	background: #3A4450;
	color: white;
}

#main_toolbar h1 {
	font-size: 16px;
	margin: 0;
	line-height: 36px;
}

#main_toolbar .navbar-nav > li > a {
	color: white;
	padding: 8px;
}

#main_toolbar .dropdown-menu .divider {
	margin: 5px 0;
}

#main_toolbar .navbar-nav > li > .dropdown-menu {
	border-radius: 0;
}

#main_toolbar .nav > li > a:focus,
#main_toolbar .nav > li > a:hover {
	background: #536773;
}

#mainmenu {
	margin-bottom: 0;
	min-height: 40px;
}

#mainmenu .navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}

#sidebar_toolbar {
	padding: 10px 0;
	border-bottom: 1px solid #dcdcdc;
}

#sidebar_toolbar .btn-backend {
	padding: 4px 26px 4px 6px;
}

#sidebar_tree {
	border-right: 1px solid #dcdcdc;
}

#sidebar_tree .tree {
	border: none;
	padding: 0;
}

#cms_tree {
	overflow-y: auto;
	padding: 10px 0;
}

#sidebar .list-group {
	font-size: 1.2em;
}

.tree-filter {
	padding-top: 10px;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 10px;
	background: #F8F8F8;
}

.entire-area {
	width: 100%;
}

#content {
	padding-top: 15px;
}

li a.helper-icon {
	float: left;
}

.page-panel {
	margin-top: 10px;
	box-shadow: 0 0 4px #666;
}

.panel-hidden {
	opacity: 0.5;
}

/* create new element wizard */
.tab-elements .media-object {
	float: left;
	margin-right: 10px;
}

.tab-elements a {
	color: inherit;
	overflow: hidden;
}

.tab-elements p {
	font-size: 12px;
	line-height: 1.2em;
	margin-bottom: 5px;
}

.tab-elements p.title {
	font-weight: bold;
	font-size: 14px;
}

/* jqtree */
.jqtree-tree .jqtree-title {
	color: inherit;
	margin-left: 0;
}

ul.jqtree-tree ul.jqtree_common {
	margin-left: 25px;
}

ul.jqtree-tree .jqtree-element {
	padding: 4px;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
	background: #dcdcdc;
}

ul.jqtree-tree li.jqtree-folder {
	margin-bottom: 1px;
}

/* overwrite general styles */
.form-control,
.input-group-addon {
	border-radius: 0;
}

.dropdown-menu {
	box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.176);
}

.panel {
	border-radius: 0;
}

.panel-cms .panel-heading {
	background: #3A4450;
	color: white;
}

.panel-heading {
	padding: 10px;
	border-radius: 0;
}

.panel .panel-body {
	padding: 10px;
}

.panel-backend-content {
	background: #f5f5f5;
	border-top: 1px solid #ddd;
}

.breadcrumb-page-tree {
	font-size: 12px;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 0;
}

.btn, .dropdown-menu {
	border-radius: 0;
	margin: 0;
}

.btn-backend,
.btn-backend.focus,
.btn-backend:focus,
.btn-backend:hover{
	background-color: #3A4450;
	color: white;
}

.btn-sm, .btn-group-sm > .btn {
	border-radius: 0;
}

/* pep drag and drop */
.content-drag-receiver {
	height: 20px;
	padding: 5px;
	font-size: 10px;
	margin: 5px 0;
	background: transparent;
}

.content-drag-receiver.receiver-on {
	background: brown;
	color: white;
}

.content-drag-receiver.receiver-on.pep-dpa {
	background: green;
}

.content-drag-receiver.receiver-on:after {
	content: "drop here";
}

.content-drag-sender.pep-active {
	position: absolute;
	z-index: 9999;
}

.content-drag-sender.pep-active .panel-body {
	display: none;
}

/* fontawesome */
.fa-disabled {
	color: #dcdcdc;
}

.jqtree-selected > .jqtree-element > .fa-disabled,
.jqtree-selected > .jqtree-element > .fa-stack > .fa-disabled {
	color: white;
}