<div class="panel" id="panel_page_properties">
  <div ng-class="{'button': content.canReload, 'button disabled': !content.canReload}">
    <a href=""><i class="fa fa-refresh cfe" aria-hidden="true"></i></a>
  </div>
  <div ng-class="{'button': content.canDelete, 'button disabled': !content.canDelete}">
    <a href=""><i class="fa fa-trash cfe" aria-hidden="true"></i></a>
  </div>
  <div ng-class="{'button': content.canPaste, 'button disabled': !content.canPaste}">
    <a href=""><i class="fa fa-clipboard cfe" aria-hidden="true"></i></a>
  </div>
  <div ng-class="{'button': content.canCut, 'button disabled': !content.canCut}">
    <a href=""><i class="fa fa-scissors cfe" aria-hidden="true"></i></a>
  </div>
  <div ng-class="{'button': content.canCopy, 'button disabled': !content.canCopy}">
    <a href=""><i class="fa fa-files-o cfe" aria-hidden="true"></i></a>
  </div>
  <div ng-class="{'button': content.isVisible, 'button disabled': !content.isVisible}">
    <a href=""><i class="fa fa-eye cfe" aria-hidden="true"></i></a>
  </div>
  <div ng-class="{'button': content.canEdit, 'button disabled': !content.canEdit}">
    <a href=""><i class="fa fa-pencil cfe" aria-hidden="true"></i></a>
  </div>
  <div ng-class="{'button': content.canCreate, 'button disabled': !content.canCreate}">
    <a href=""><i class="fa fa-plus cfe" aria-hidden="true"></i></a>
  </div>
</div>
