<div class="page-properties" id="page_properties">
  <div class="panel" id="panel_page_properties">
    <div ng-class="{'button': page.canReload, 'button disabled': !page.canReload}">
      <a href="#" ng-click="reloadPageTree($event)"><i class="fa fa-refresh cfe" aria-hidden="true"></i></a>
    </div>
    <div ng-class="{'button': page.canDelete, 'button disabled': !page.canDelete}">
      <a href=""><i class="fa fa-trash cfe" aria-hidden="true"></i></a>
    </div>
    <div ng-class="{'button': page.canPaste, 'button disabled': !page.canPaste}">
      <a href=""><i class="fa fa-clipboard cfe" aria-hidden="true"></i></a>
    </div>
    <div ng-class="{'button': page.canCut, 'button disabled': !page.canCut}">
      <a href=""><i class="fa fa-scissors cfe" aria-hidden="true"></i></a>
    </div>
    <div ng-class="{'button': page.canCopy, 'button disabled': !page.canCopy}">
      <a href=""><i class="fa fa-files-o cfe" aria-hidden="true"></i></a>
    </div>
    <div ng-class="{'button': page.isVisible, 'button disabled': !page.isVisible}">
      <a href=""><i class="fa fa-eye cfe" aria-hidden="true"></i></a>
    </div>
    <div ng-class="{'button': page.canEdit, 'button disabled': !page.canEdit}">
      <a href=""><i class="fa fa-pencil cfe" aria-hidden="true"></i></a>
    </div>
    <div ng-class="{'button': page.canCreate, 'button disabled': !page.canCreate}">
      <a href=""><i class="fa fa-plus cfe" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="panel" id="panel_page_tree">
    <div class="select-box">
      <select name="type" id="select_page_properties_type">
        <option value="opt1">Pages</option>
        <option value="opt2">Books</option>
      </select>
      <script type="text/javascript">
      $('#select_page_properties_type').selectize({
          create: true
        });
      </script>
    </div>
    <div class="button inside">
      <a href=""><i class="fa fa-sort-amount-asc cfe" aria-hidden="true"></i></a>
    </div>
    <div class="text-box with-icon">
      <input class="text" type="text" placeholder="Search" />
      <i class="fa fa-search cfe" aria-hidden="true"></i>
    </div>
  </div>
</div>
