<!-- page type -->
<div ng-if="selectionType.indexOf('page') > -1">
<div class="fields-tab">
  <h3>
    <a href="#" class="expand"><i class="fa fa-chevron-down expand" aria-hidden="true"></i></a>
    <i class="fa fa-mouse-pointer" aria-hidden="true"></i> Selected item
  </h3>
  <div class="fields-list">
    <div class="field">
      <input type="text" name="selected_item" value="{{page.data['title']}}" class="text wide"/>
    </div>
    <div ng-repeat="field in page.fields">
      <div ng-switch on="field.type">
        <div class="field" ng-switch-when="text">
          <h4>{{field.label}}</h4>
          <input type="text" name="selected_item" ng-model="page.data[field.mapTo]" id="page_{{field.mapTo}}" name="{{field.mapTo}}" class="text wide state-{{field.state}}"/>
        </div>
        <div class="field" ng-switch-when="checkbox">
          <h4>{{field.label}}</h4>
          <div class="checkbox">
            <input type="checkbox" ng-model="page.data[field.mapTo]" name="{{field.mapTo}}" id="page_{{field.mapTo}}" class="state-{{field.state}}"/>
            <label for="page_{{field.mapTo}}">{{field.label}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fields-tab">
  <h3>
    <a href="#" class="expand"><i class="fa fa-chevron-down expand" aria-hidden="true"></i></a>
    <i class="fa fa-eye" aria-hidden="true"></i> Visibility
  </h3>
  <div class="fields-list">
    <div class="field">
      <h4>Hide before</h4>
      <textarea class="textarea wide" rows="5" name="test_text"></textarea>
    </div>
  </div>
</div>
</div>
<!-- content type -->
<div ng-if="selectionType.indexOf('content') > -1">
  <div class="fields-tab">
    <h3>
      <a href="#" class="expand"><i class="fa fa-chevron-down expand" aria-hidden="true"></i></a>
      <i class="fa fa-download" aria-hidden="true"></i> Another sample tab
    </h3>
    <div class="fields-list">
      <div ng-repeat="field in content.fields">
        <div ng-switch on="field.type">
          <div class="field" ng-switch-when="text">
            <h4>{{field.label}}</h4>
            <input type="text" name="selected_item" ng-model="content.data[field.mapTo]" id="content_{{field.mapTo}}" name="{{field.mapTo}}" class="text wide state-{{field.state}}"/>
          </div>
          <div class="field" ng-switch-when="checkbox">
            <h4>{{field.label}}</h4>
            <div class="checkbox">
              <input type="checkbox" ng-model="content.data[field.mapTo]" name="{{field.mapTo}}" id="content_{{field.mapTo}}" class="state-{{field.state}}"/>
              <label for="content_{{field.mapTo}}">{{field.label}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <h4>Hide before</h4>
        <select name="sample_dropdown" class="dropdown">
          <option value="opt1">Pages</option>
          <option value="opt2">Books</option>
        </select>
        <script type="text/javascript">
        $('.dropdown').selectize({
            create: true
          });
        </script>
      </div>
    </div>
  </div>
</div>
