/* main */
@font-face {
  font-family: 'Libre Franklin';
  src: url('../../Fonts/librefranklin/LibreFranklin-Bold.eot');
  src: url('../../Fonts/librefranklin/LibreFranklin-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../Fonts/librefranklin/LibreFranklin-Bold.woff2') format('woff2'),
  url('../../Fonts/librefranklin/LibreFranklin-Bold.woff') format('woff'),
  url('../../Fonts/librefranklin/LibreFranklin-Bold.ttf') format('truetype'),
  url('../../Fonts/librefranklin/LibreFranklin-Bold.svg#LibreFranklin-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../../Fonts/librefranklin/LibreFranklin-Regular.eot');
  src: url('../../Fonts/librefranklin/LibreFranklin-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../Fonts/librefranklin/LibreFranklin-Regular.woff2') format('woff2'),
  url('../../Fonts/librefranklin/LibreFranklin-Regular.woff') format('woff'),
  url('../../Fonts/librefranklin/LibreFranklin-Regular.ttf') format('truetype'),
  url('../../Fonts/librefranklin/LibreFranklin-Regular.svg#LibreFranklin-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: #333333;
}
html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Libre Franklin', sans-serif;
  height: 100%;
  width: 100%;
}
.form.login {
  margin: 30px auto;
  padding: 20px;
  width: auto;
  overflow: hidden;
  color: #333333;
  text-align: center;
  background: white;
}

.form.login h2 {
  font-weight: normal;
  font-size: 2rem;
  margin: 1em 0;
  padding: 0;
}
.form .field {
  margin: 15px 0;
  width: 100%;
}
.form .text,
.form .password,
.form .button {
  width: 100%;
  border: 1px solid #2f405c;
  color: #333333;
  font: inherit;
  padding: 15px;
  box-sizing: border-box;
  background: white;
}
.form .button.submit {
  background: #2f405c;
  color: #ffffff;
}
.form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
footer {
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 0 #333333;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8em;
}
footer a {
  color: white;
}
footer p {
  margin: 0 0 5px 0;
}
.alert.flash-error {
  color: red;
}
@media (min-width: 640px) {
  .form.login {
    width: 320px;
  }
  footer {
    width: 640px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -320px;
  }
}
